# Prepare Module

In [1]:
import pandas as pd         # use to load dataframe and dataset
import numpy as np          # use to calculation math

Load Dataset

In [2]:
df = pd.read_csv('Status Nutrition Dataset.csv')
df.head(2)

,Name,Gender,age(mounth),TB(cm),WB(cm),CongenitalDisease,allergy,Status
0,Maria Anders,1,27,40,8,0,0,good
1,Ana Trujillo,0,20,40,7,0,0,good

# Prep Processing Data

Labeling Dataset

In [3]:
# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'Status'.
df['Status']= label_encoder.fit_transform(df['Status'])
  
df['Status'].unique()

array([1, 2, 0])

In [4]:
MyDf = df.drop(['Name'], axis = 1)
MyDf.head(2)

   Gender  age(mounth)  TB(cm)  WB(cm)  CongenitalDisease  allergy  Status
0       1           27      40       8                  0        0       1
1       0           20      40       7                  0        0       1

In [5]:
MyDf.describe()

,Gender,age(mounth),TB(cm),WB(cm),CongenitalDisease,allergy,Status
count,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000
mean,0.500000,22.917582,37.873626,7.934066,0.120879,0.120879,1.126374
std,0.501379,2.568147,4.326517,0.776765,0.326886,0.326886,0.434006
min,0.000000,19.000000,30.000000,7.000000,0.000000,0.000000,0.000000
25%,0.000000,21.000000,34.000000,7.000000,0.000000,0.000000,1.000000
50%,0.500000,23.000000,39.000000,8.000000,0.000000,0.000000,1.000000
75%,1.000000,25.000000,41.000000,9.000000,0.000000,0.000000,1.000000
max,1.000000,27.000000,45.000000,9.000000,1.000000,1.000000,2.000000

Spliting Dataset
* x = Dimension
* y = Targets

In [6]:
X = MyDf.drop(['Status'], axis = 1)
y = MyDf['Status']

In [7]:
X.head(2)

   Gender  age(mounth)  TB(cm)  WB(cm)  CongenitalDisease  allergy
0       1           27      40       8                  0        0
1       0           20      40       7                  0        0

In [8]:
y.head(2)

0    1
1    1
Name: Status, dtype: int32

* 1 = Good
* 2 = Cukup
* 3 = Buruk

# DSS MODEL WITH NBC

In [9]:
from sklearn.naive_bayes import GaussianNB

nbc = GaussianNB()

data_train = nbc.fit(X,y)

In [10]:
y_pred = data_train.predict(X)

In [11]:
print(y_pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 2 0 1 2 0 1 2 2 1 0 2 1 0 1 1
 1 1 1 1 1 1 1 1 1 1 0 2 1 2 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 0 1 0 0 1 2 1 1 1 1 1 1 1]

In [12]:
x_baru = np.array([[1,27,40 ,8,0,0]])
x_baru

array([[ 1, 27, 40,  8,  0,  0]])

In [13]:
y_predict = data_train.predict(x_baru)

c:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [14]:
# Membuat Fungsi apakah dia terlambat atau tepat waktu
if y_predict == 1 :
    hasil = "Good"
elif y_predict == 0:
    hasil = "Cukup"
elif y_predict == 2 :
    hasil = "Bad"
else:
    hasil = "KeyError"

In [15]:
print("Hasil Perdiksi adalah : ",hasil)

Hasil Perdiksi adalah :  Good

# Menghitung Akurasi Model

In [16]:
# Menggunakan akurasi score
from sklearn.metrics import accuracy_score
print(f"Nilai akurasi adalah = %0.2f" % accuracy_score(y,y_pred))

Nilai akurasi adalah = 0.77

In [17]:
# mencetak laporan hasil Klasifikasi
from sklearn.metrics import classification_report
print(classification_report(y,y_pred))

              precision    recall  f1-score   support

           0       0.23      0.43      0.30         7
           1       0.83      0.92      0.87       145
           2       0.44      0.13      0.21        30

    accuracy                           0.77       182
   macro avg       0.50      0.49      0.46       182
weighted avg       0.74      0.77      0.74       182