# Mempersiapankan Module

In [47]:
import pandas as pd                     # digunakan untuk membaca data
import numpy as np                      # untuk melakukan perhitungan matematika
import matplotlib.pyplot as plt         # untuk melakukan penampilan grafik

print("Module Siap")

Module Siap

In [48]:
# Membaca Data
mahasiswa = pd.read_excel("Data Kelulusan Mahasiswa.xlsx")

In [49]:
# membaca data
mahasiswa.head(10)

,JenisKelamin,StatusMahasiswa,Umur,StatusNikah,IPS1,IPS2,IPS3,IPS4,IPS5,IPS6,IPS7,IPS8,IPK,StatusKelulusan
0,0,1,28,0,2.76,2.80,3.20,3.17,2.98,3.00,3.03,2.0,2.86750,0
1,0,0,32,0,3.00,3.30,3.14,3.14,2.84,3.13,3.25,2.0,2.97500,0
2,0,1,29,0,3.50,3.30,3.70,3.29,3.53,3.72,3.73,2.0,3.34625,0
3,0,0,27,0,3.17,3.41,3.61,3.36,3.48,3.63,3.46,2.0,3.26500,0
4,0,1,29,0,2.90,2.89,3.30,2.85,2.98,3.00,3.08,2.0,2.87500,0
5,1,1,27,0,2.95,2.82,3.09,3.10,2.78,3.16,3.23,2.0,2.89125,0
6,0,0,26,0,2.76,3.14,2.60,2.95,3.23,3.33,3.30,3.3,3.07625,1
7,0,0,27,0,2.62,2.89,2.32,2.50,2.50,2.86,3.05,2.5,2.65500,1
8,0,1,25,1,3.60,3.54,3.52,3.39,3.52,3.68,3.15,2.0,3.30000,0
9,0,1,28,0,2.71,2.55,1.77,2.11,1.93,2.13,1.78,0.2,1.89750,0

In [50]:
# melihat colom yang ada
mahasiswa.columns

Index(['JenisKelamin', 'StatusMahasiswa', 'Umur', 'StatusNikah', 'IPS1',
       'IPS2', 'IPS3', 'IPS4', 'IPS5', 'IPS6', 'IPS7', 'IPS8', 'IPK ',
       'StatusKelulusan'],
      dtype='object')

membagi kolom menjadi variabel x dan variabel y
x = status kelulusan
y = kolom yang lain

In [51]:
x = mahasiswa.drop(["StatusKelulusan"],axis=1)

In [52]:
x.head(10)

,JenisKelamin,StatusMahasiswa,Umur,StatusNikah,IPS1,IPS2,IPS3,IPS4,IPS5,IPS6,IPS7,IPS8,IPK
0,0,1,28,0,2.76,2.80,3.20,3.17,2.98,3.00,3.03,2.0,2.86750
1,0,0,32,0,3.00,3.30,3.14,3.14,2.84,3.13,3.25,2.0,2.97500
2,0,1,29,0,3.50,3.30,3.70,3.29,3.53,3.72,3.73,2.0,3.34625
3,0,0,27,0,3.17,3.41,3.61,3.36,3.48,3.63,3.46,2.0,3.26500
4,0,1,29,0,2.90,2.89,3.30,2.85,2.98,3.00,3.08,2.0,2.87500
5,1,1,27,0,2.95,2.82,3.09,3.10,2.78,3.16,3.23,2.0,2.89125
6,0,0,26,0,2.76,3.14,2.60,2.95,3.23,3.33,3.30,3.3,3.07625
7,0,0,27,0,2.62,2.89,2.32,2.50,2.50,2.86,3.05,2.5,2.65500
8,0,1,25,1,3.60,3.54,3.52,3.39,3.52,3.68,3.15,2.0,3.30000
9,0,1,28,0,2.71,2.55,1.77,2.11,1.93,2.13,1.78,0.2,1.89750

In [53]:
y = mahasiswa["StatusKelulusan"]

In [54]:
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    0
9    0
Name: StatusKelulusan, dtype: int64

Dapat dilihat bahwa status kelulusan di atas masih terlambat
* 0 Artinya terlambat
* 1 Artinya tepat waktu

# Import Model Naive Bayes

In [55]:
from sklearn.naive_bayes import GaussianNB

In [56]:
# memanggil fungsi gausian naive bayes
nbc = GaussianNB()

In [57]:
# memasukan data trening pada fungsi naive bayes
data_training = nbc.fit(x,y)

In [58]:
# melakukan prediksi pada data training

y_predict = data_training.predict(x)

In [59]:
# melihat y predict
print(y_predict)

[0 1 1 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 1 1 0 0 0 0 0 1 1 0 1 0 1 1 1 1
 1 0 1 0 0 1 1 1 1 1 1 1 1]

Membuat Inputan User

In [60]:
# melakukan prediksi pada data inputan yang akan di prediksi
Jenis_Kelamin = 1
Status_Kerja = 0
Umur = 25
Status_Nikah = 1
IPS1 = 3.12
IPS2 = 2.75
IPS3 = 2.05
IPS4 = 3.01
IPS5 = 3.56
IPS6 = 3.22
IPS7 = 3.67
IPS8 = 3.45
IPK = np.average([IPS1,IPS2,IPS3,IPS4,IPS5,IPS6,IPS7,IPS8])
data_testing = [[Jenis_Kelamin, Status_Kerja, Umur,Status_Nikah, IPS1,
       IPS2, IPS3, IPS4, IPS5,IPS6, IPS7, IPS8, IPK]]

In [61]:
print(data_testing)

[[1, 0, 25, 1, 3.12, 2.75, 2.05, 3.01, 3.56, 3.22, 3.67, 3.45, 3.10375]]

In [62]:
# melakukan prediksi berdasarkan data inputan
y_pred = data_training.predict(data_testing)

c:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

Jika Hasilnya 
1 hasilnya tepat waktu 
0 Hasilnya terlambat

In [63]:
# Membuat Fungsi apakah dia terlambat atau tepat waktu
if y_pred == 0:
    hasil = "Terlambat"
elif y_pred == 1:
    hasil = "Tepat Waktu"
else:
    hasil = "KeyError"

In [64]:
print("Hasil Perdiksi adalah : ",hasil)

Hasil Perdiksi adalah :  Terlambat

# Menghitung akurasi model

In [45]:
# Menggunakan akurasi score
from sklearn.metrics import accuracy_score
print(f"Nilai akurasi adalah = %0.2f" % accuracy_score(y,y_predict))

Nilai akurasi adalah = 0.70

In [68]:
# mencetak laporan hasil Klasifikasi
from sklearn.metrics import classification_report
print(classification_report(y,y_predict))

              precision    recall  f1-score   support

           0       0.73      0.64      0.68        25
           1       0.68      0.76      0.72        25

    accuracy                           0.70        50
   macro avg       0.70      0.70      0.70        50
weighted avg       0.70      0.70      0.70        50